body,
main {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Space Grotesk", sans-serif;
}

/* --- Mobile Layout --- */
.login-form-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: url(../images/auth-bg.png) no-repeat top left / 500px;
  padding: 40px 20px;
  box-sizing: border-box;
}

.login-form {
  width: 100%;
  max-width: 400px;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 20px;
}

.logo {
  max-width: 80px;
  height: auto;
}

.login-form form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 40px;
}

.password-input-group {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 48px;
}

.password input {
  border: none;
  outline: none;
  height: 100%;
  flex: 1;
}

button[type="submit"] {
  min-height: 48px;
  margin-top: 1.5rem;
}

.form-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.form-footer span {
  font-weight: 700;
  color: #c4c4c4;
}

.form-footer a {
  font-weight: 700;
  text-decoration: underline;
  color: var(--primary-color);
}

.login-text-container {
  display: none;
}

/* --- Large Screen Layout --- */
@media (min-width: 780px) {
  main {
    display: flex;
  }

  .login-form-container {
    width: 60%;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
  }

  .login-form {
    max-width: 480px;
  }

  .form-header {
    align-items: flex-start;
  }

  .login-text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    background-color: var(--primary-color);
    padding: 40px 60px;
    box-sizing: border-box;
  }

  .auth-nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 20px;
  }

  .auth-nav a {
    color: #e4e4e4;
    text-decoration: none;
    font-weight: 500;
  }

  .login-text-container .quote {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.3;
    color: #e4e4e4;
    text-align: left;
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
}
